@import "../../index.scss";

.main {
  position: relative;
  background: $primaryBlack;
  padding: 1rem;
  * {
    color: #fff;
  }
  section {
    padding: 0 1.5rem;
  }

  address {
    display: flex;
    line-height: 2rem;
    width: 55vw;
  }

  h3 {
    margin-bottom: 2rem;
    text-transform: capitalize;
  }

  .leftAddress {
    border-right: $primaryGreen 2px solid;
    padding-right: 2rem;
    min-width: 50%;
  }
  .rightAddress {
    padding-left: 2rem;
  }
}
.socialWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 75%;
  a {
    position: relative;
    display: inline-flex;
    align-items: flex-end;
    small {
      position: absolute;
      left: 2.2rem;
    }
  }
}
#vectors {
  a {
    position: absolute;
    font-size: x-small !important;
    color: #f1f1f1 !important;
    bottom: 5rem;
    right: 3rem;
  }
}
.rowWrapper {
  display: flex;
  padding: 2rem;
  @media (max-width: $largeBk) {
    flex-wrap: wrap;
    justify-content: space-between;
    section {
      padding: 0;
    }
    address {
      flex-wrap: wrap;
      width: 80vw;
      margin-bottom: 1rem;
      font-size: 0.9rem;
      .leftAddress {
        border-right: none;
        padding-right: 0;
      }
      .rightAddress {
        padding-left: 0;
        padding-top: 2rem;
      }
    }
  }
  @media (max-width: $smallBk) {
    section {
      width: 90vw;
    }
  }

  .socials {
    transition: all 0.3s ease-in-out;
    &:hover {
      font-weight: bolder;
      transform: scale(1.2);
    }
  }
}
.footer {
  position: relative;
  padding: 1rem;
  background: $primaryGreen;
  text-align: center;
}
.chevron {
  transition: all 0.3s ease-in-out;
  &:hover {
    transform: scale(1.3);
  }
}

.chevron {
  cursor: pointer;
  position: absolute;
  bottom: 15vh;
  right: 3vw;
  z-index: 100;
}

.partners {
  text-align: center;

  h1,
  h6 {
    line-height: 4rem;
  }
  box-shadow: $darkBoxShadow;

  @media (max-width: $smallBk) {
    h1 {
      font-size: 2rem;
      line-height: 3rem;
    }
    h6 {
      margin: 1rem;
      line-height: 1.5rem;
      font-size: 0.7rem;
    }
  }
}
